{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": [
        [
          "babel-plugin-module-resolver",
          {
            "root": ["."],
            "alias": {
              "test": "./wat",
              "action": "../actions/api",
              "reducer": "../../reducers/api"
            }
          }
        ]
      ]
    }
  }
}
